.meeting-details-wrapper {
  min-width: 30rem;
  width: 40%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: rgb(158, 155, 155);
  padding: 2rem;
}
.meeting-details-wrapper > p > i {
  margin-right: 0.4rem;
}
.meeting-attendee {
  font-size: 1.6rem;
  margin: 0;
}
.meeting-title {
  font-size: 2.4rem;
  color: rgba(0, 0, 0, 0.8);
  margin: 0 0 1.2rem 0;
}
.meeting-duration,
.meeting-time,
.meeting-timezone {
  font-size: 1.2rem;
}
